1. Veri Kümesini indir.
2. Gerekli / Gereksiz bağımsız değişkenleri bul.
3. 5 Farklı Yönteme göre regresyon modellerini çıkar.
    - MLR, PR, SVR, DT, RF
4. Yöntemlerin başarılarını karşılaştır.
5. 10 yıl tecrübeli ve 100 puan almış bir CEO ve aynı özelliklere sahip bir Müdürün maaşlarını 5 yöntemle de tahmin edip sonuçları yorumla.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

veriler = pd.read_csv("maaslar_yeni_veriler.csv")
veriler

    Calisan_ID             Unvan  UnvanSeviyesi  Kidem  Puan   Maas
0            1             Cayci              1      5    70   2250
1            2          Sekreter              2      5    70   2500
2            3  Uzman Yardimcisi              3      5    70   3000
3            4             Uzman              4      5    70   4000
4            5  Proje Yoneticisi              5      5    70   5500
5            6               Sef              6      5    70   7500
6            7             Mudur              7      5    70  10000
7            8          Direktor              8      5    70  15000
8            9           C-level              9      5    70  25000
9           10               CEO             10      5    70  50000
10          11             Cayci              1      7    99   2000
11          12          Sekreter              2      7     9   2500
12          13  Uzman Yardimcisi              3      7    62   4000
13          14             Uzman              4      4    38   3000
14          15  Proje Yoneticisi              5      1    80   5000
15          16               Sef              6      2    35   5000
16          17             Mudur              7      8    99  12000
17          18          Direktor              8      4    58  11000
18          19           C-level              9      2    20  15000
19          20               CEO             10      4    42  22000
20          21             Cayci              1      8    11   2200
21          22          Sekreter              2      2    53   2200
22          23  Uzman Yardimcisi              3      8    50   2800
23          24             Uzman              4      9    91   6000
24          25  Proje Yoneticisi              5      9    71   5400
25          26               Sef              6      1     2   4000
26          27             Mudur              7     10    81  12000
27          28          Direktor              8     10    38  10000
28          29           C-level              9      1    50  15000
29          30               CEO             10      9    83  60000

In [5]:
# Unvan Seviyesi, Kıdem ve Puan -> Bağımsız Değişkenler
x = veriler.iloc[:,2:5] 
x

    UnvanSeviyesi  Kidem  Puan
0               1      5    70
1               2      5    70
2               3      5    70
3               4      5    70
4               5      5    70
5               6      5    70
6               7      5    70
7               8      5    70
8               9      5    70
9              10      5    70
10              1      7    99
11              2      7     9
12              3      7    62
13              4      4    38
14              5      1    80
15              6      2    35
16              7      8    99
17              8      4    58
18              9      2    20
19             10      4    42
20              1      8    11
21              2      2    53
22              3      8    50
23              4      9    91
24              5      9    71
25              6      1     2
26              7     10    81
27              8     10    38
28              9      1    50
29             10      9    83

In [7]:
# Bağımlı Değişken : y
y = veriler.iloc[:,5:]
y

     Maas
0    2250
1    2500
2    3000
3    4000
4    5500
5    7500
6   10000
7   15000
8   25000
9   50000
10   2000
11   2500
12   4000
13   3000
14   5000
15   5000
16  12000
17  11000
18  15000
19  22000
20   2200
21   2200
22   2800
23   6000
24   5400
25   4000
26  12000
27  10000
28  15000
29  60000